*{
    margin: 0%;
    padding: 0%;
}

a{
    text-decoration: none;
    font-size: inherit;
}

a:visited{
    color: inherit;
}

input[type="text"]:not(data-compact){
    padding: 8px 6px;
}

input[type="password"]:not(data-compact){
    padding: 8px 6px;
}

button{
    background-color: inherit;
}

.pop-up{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.pop-up-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.crear-pop-up,.close-pop-up{
    width: 100%;
    height: 40px;
}


.close-pop-up:hover{
    background-color: rgba(255, 0, 0, 0.814);
    color: white;
}
