:root{
    --size-max-text: 40px;
    --size-sub-max-text: 30px;
    --size-text : 25px;
}

h1{
    font-size: var(--size-max-text);
}

h2{
    font-size: var(--size-sub-max-text);
}

*{
    margin: 0%;
    padding: 0%;
}

a{
    text-decoration: none;
    font-size: inherit;
}

a:hover{
    color: inherit;
}

a:visited{
    color: inherit;
}

input[type="text"]:not(data-compact){
    padding: 8px 6px;
}

input[type="password"]:not(data-compact){
    padding: 8px 6px;
}

input[type="number"]:not(data-compact){
    padding: 8px 6px;
}

button{
    background-color: inherit;
    cursor: inherit;
}

.pop-up{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.pop-up-content{
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.pop-up-errores{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    overflow: auto;
    margin-top: 10px;
}

.pop-up-content-errores{
    background-color: #FCF3CF;
    border: 1px solid #888;
    width: 40%;
    margin: 15% auto;
    padding: 20px;
    text-align: center;
}

.crear-pop-up,.close-pop-up{
    width: 100%;
    height: 40px;
}

.crear-pop-up:hover{
    background-color: hsl(145, 63%, 42%, 0.814);
    color: white;
}

.close-pop-up:hover{
    background-color: hsla(6, 63%, 46%, 0.814);   
    color: white;
}