#header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: end;
}

div.container-header-button{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-right: 30px;
}

.header-button{
    border: none;
    margin-right: 5px;
}

div.container-header-button:hover{
    color: blue;
}

div.container-header-button span{
    font-size: var(--size-text);
}